@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Maghfirea";
  src:
    url("../assets/fonts/Maghfirea.ttf") format("ttf"),
    url("../assets/fonts/Maghfirea.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src:
    url("../assets/fonts/SourceSerifPro-Regular.ttf") format("ttf"),
    url("../assets/fonts/SourceSerifPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif Pro";
  src:
    url("../assets/fonts/SourceSerifPro-Bold.ttf") format("ttf"),
    url("../assets/fonts/SourceSerifPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src:
    url("../assets/fonts/NotoSerif-Regular.ttf") format("ttf"),
    url("../assets/fonts/NotoSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif";
  src: url("../assets/fonts/NotoSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src:
    url("../assets/fonts/SourceSans3-Regular.ttf") format("ttf"),
    url("../assets/fonts/SourceSans3-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3";
  src: url("../assets/fonts/SourceSans3-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.logo {
  width: 26vw;
}

body {
  color: #000;
}

.space-y-p {
  @apply lg:overflow-hidden overflow-auto;
}
.space-y-p p + p {
  margin-top: 10px;
}

.space-y-p h3 {
  @apply font-bold text-xl my-2;
}

.space-y-p a {
  @apply underline text-xs md:text-base inline;
}

.space-y-p h1 {
  @apply text-4xl lg:text-5xl font-bold;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.open-menu {
  animation: slideIn 0.5s ease-in forwards;
}

.close-menu {
  animation: slideOut 0.3s ease-in-out forwards;
  animation-delay: 0.3s; /* Add a delay to start the closing animation */
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Initial state */
.fade-out {
  opacity: 0;
}

.slide-in {
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.slide-out {
  transform: translateY(20px);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.header .header-link {
  @apply text-primary-500;
}
.container {
  @apply lg:max-w-[1440px] w-full mx-auto px-4 lg:px-5;
}

.space-y-p {
  @apply lg:overflow-hidden overflow-auto;
}
.space-y-p p + p {
  margin-top: 10px;
}

.space-y-p h3 {
  @apply font-bold text-xl my-2;
}

.space-y-p a {
  @apply underline text-xs md:text-base inline;
}

.shell {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  gap: 10px;
  align-items: stretch;
}

.shell__sidebar {
  @apply inset-y-0 bottom-0  right-auto z-20  h-full w-[250px] transform items-start border-r border-gray-200 transition-all duration-300 xl:sticky xl:h-screen;
}
/* .group:hover .submenu {
  @apply lg:block;
} */

[type="checkbox"]:checked {
  background-image: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 0;
  box-shadow: none;
}

[type="checkbox"]:checked:focus {
  background-image: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  box-shadow: none;
  font-size: 0;
  box-shadow: none;
}
.iconcheck input[type="checkbox"] {
  @apply bg-background-500 text-black;
}
.iconcheck input[type="checkbox"] + span {
  @apply text-black relative capitalize;
}
.iconcheck input[type="checkbox"]:checked {
  @apply bg-secondary-500 text-white outline-0 bg-none focus:ring-0 focus:border-0 focus:outline-0 focus:ring-offset-0 focus:outline-offset-0;
}
.iconcheck input[type="checkbox"]:checked + span {
  @apply bg-secondary-500 text-white relative;
}
.checkbox {
  display: block;
  position: relative;
  margin-bottom: 2px;
  padding-left: 2px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox .checkmark::before {
  content: "";
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  display: none;
  position: absolute;
  border-radius: 2px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkbox .checkbox-input {
  position: absolute;
  height: 100%;
  inset: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  background-color: #ccc;
  display: inline-block;
  top: 2px;
  position: relative;
  left: 0;
  width: 18px;
  height: 18px;
}

.checkbox:hover .checkbox-input + .checkmark {
  background-color: #ccc;
}

.checkbox .checkbox-input.checked + .checkmark {
  @apply bg-secondary-500;
}
.checkbox .checkbox-input.checked + span + span {
  @apply text-secondary-500;
}
.checkbox .checkbox-input.checked + .checkmark::before {
  display: block;
}

/* radio button css */

.radiobox {
  display: block;
  position: relative;
  margin-bottom: 2px;
  padding-left: 2px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radiobox .radiomark::before {
  content: "";
  width: 10px;
  inset: 0;
  border-radius: 100%;
  height: 10px;
  margin: auto;
  display: none;
  position: absolute;
  background: #fff;
}
.radiobox .radiobox-input {
  position: absolute;
  height: 100%;
  inset: 0;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.radiobox .radiomark {
  background-color: #ccc;
  display: inline-block;
  top: 2px;
  position: relative;
  border-radius: 100%;
  left: 0;
  width: 18px;
  height: 18px;
}
.radiobox:hover .radiobox-input + .radiomark {
  background-color: #ccc;
}
.radiobox .radiobox-input.checked + .radiomark {
  background-color: #000;
}
.radiobox .radiobox-input.checked + .radiomark::before {
  display: block;
}

/* slider css  */

.slider {
  position: relative;
  width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #e5a942;
  z-index: 2;
}

.slider__left-value,
.slider__right-value {
  color: #dee2e6;
  font-size: 12px;
  margin-top: 20px;
}

.slider__left-value {
  left: 6px;
}

.slider__right-value {
  right: -4px;
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  height: 20px;
  appearance: none;
  background-color: #cccc;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
  color: #ccc !important;
}

.thumb--left {
  z-index: 3;
}

.thumb--right {
  z-index: 4;
  color: #ccc !important;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #e5a942 !important;
  border: none;
  border-radius: 50%;
  /* box-shadow: 0 0 1px 1px #ced4da; */
  cursor: pointer;
  appearance: none;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  @apply bg-white border-0 cursor-pointer h-4 w-4 mt-1 appearance-none relative;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  pointer-events: all;
}

.sidebar-close {
  transform: translateX(90%);
}
.sidebar-open {
  transform: translateX(200%);
}
.transition {
  /* transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms; */
  overflow: hidden;
  @apply overflow-hidden;
}
.height0 {
  height: 0px;
  transition: 0;
  transition: height 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.height100 {
  height: 1000px;
  transition: height 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.container-fluid {
  @apply px-7 md:px-11 lg:px-12;
}
/* slider  css */

.image-gallery-thumbnail-inner {
  @apply aspect-video w-full h-full;
}

.masonry .even .card-background {
  @apply bg-primary-500;
}

.masonry .even .card-button {
  @apply bg-secondary-500;
}

.masonry .odd .card-background {
  @apply bg-secondary-500;
}

.masonry .odd .card-button {
  @apply bg-primary-500;
}
.pagination-button a {
  @apply h-full w-full flex items-center justify-center p-3;
}
.space-y-p {
  @apply overflow-auto lg:overflow-hidden;
}
.image-gallery-thumbnail-image {
  @apply object-cover object-center h-full w-full;
}
.image-gallery-slide {
  @apply aspect-square;
}
.image-gallery-thumbnail {
  @apply border-2  py-5;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  @apply outline-0 mx-1 border-white;
}

.image-gallery .image-gallery-thumbnail.active,
.image-gallery .image-gallery-thumbnail:focus {
  @apply border-white;
}
.image-gallery .image-gallery-thumbnail:hover {
  @apply border-black;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  @apply h-full w-full object-center object-contain max-h-max;
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  @apply outline-0 border-2 border-black shadow-sm ml-5;
}
.image-gallery .image-gallery-left-nav .image-gallery-svg,
.image-gallery .image-gallery-right-nav .image-gallery-svg {
  @apply h-10 w-10;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal
  .image-gallery-thumbnails {
  @apply py-5;
}
/* .image-gallery-icon.image-gallery-fullscreen-button,
.image-gallery-icon.image-gallery-play-button {
  @apply hidden;
} */
.space-y-p p + p {
  margin-top: 10px;
}
.space-y-p h3 {
  @apply font-bold text-xl my-2;
}
.space-y-p {
  @apply lg:overflow-hidden overflow-auto;
}
.space-y-p a {
  @apply underline text-sm md:text-base inline;
}
.Subbanner_img {
  @apply aspect-square w-full h-auto;
}

.banner-content {
  @apply transition-all opacity-0 duration-150;
}
.banner-image:hover .banner-content {
  @apply opacity-100 transition-all duration-150;
}

.banner-image:hover .banner-content {
  @apply opacity-100 transition-all duration-150;
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.twitter-icon {
  color: #00b5d9;
}
.table {
  min-height: 200px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hero-img {
  padding-top: 154.778%;
  position: relative;
}

.hero-img img {
  height: 100% !important;
}

.back-btn:hover span {
  @apply text-primary-500;
}
.back-btn:hover svg {
  @apply -translate-x-1 transition-transform text-primary-500;
}

@media only screen and (max-width: 991px) and (min-width: 899px) {
  .hero-img {
    padding-top: 179.778%;
  }
}

@media only screen and (max-width: 898px) and (min-width: 768px) {
  .hero-img {
    padding-top: 220.778%;
  }
}
